body{
	background-color: #FFEA00;	
}

.jumbotron {
	padding-top: 50px;
	background-color: #FFEA00;
	text-align: center;
	margin-bottom: 0;
}

.jumbotron h2{
	font-family: 'Codystar', cursive;
}

h2#resultado {
	padding-top: 0px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}
h3#vs {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	margin-bottom: 0;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	color: black;
	text-transform: uppercase;
	-webkit-text-stroke: 2px gold;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

button:hover {
	border: solid 10px black;
	border-radius: 5%;
}

button {
	border: none;
	background-color: #FFEA00;
	cursor: pointer;
	border-radius: 5%;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button.borderBlack {
	border: solid 10px black
}